body{
  background: #000;
}

.Button{
  padding: 10px 25px;
  border-radius: 30px;
 border: none;
  transition: 1.4s ease-in-out;
 
}
.Button:hover{

  background-color: blue;
  color: white;
box-shadow: 0px 0px 20px blue;
transition: 1.4s ease-in-out;
}
.Button:active{
  
}